.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 2px 4px 31px 13px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
    display: inline-flex;
    margin-bottom: 25px;
}

.timerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30a0f5;
    height: 48px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.timerTitleText {
    color: white;
    font-size: 24px;
    font-family: "Ropa Sans";
}

.seconds {
    font-size: 24px;
    font-family: Verdana, sans-serif;
}
