.timer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 340px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
    display: inline-flex;
    margin-bottom: 25px;
}

.timerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #30a0f5;
    height: 48px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.timerTitleText {
    color: white;
    font-size: 24px;
    font-family: "Ropa Sans";
}

.seconds {
    font-size: 24px;
    font-family: Verdana, sans-serif;
}
