.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: auto;
    min-width: 440px;
    width: 50vw;

    .logInContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            color: #30a0f5;
            font-size: 1.25rem;
            text-decoration: none;
        }
    }
}
